<h1>Your Patients</h1></br>

<table class="table table-bordered">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of Birth</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr class = "clickable" data-link="<%= patient_path(patient) %>">
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= patient.formatted_dob %></td>
    <td><%= patient.address %></td>
    <td><%= patient.phone %></td>
    <td><%= link_to 'View', patient %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
